# Compiled Files #
#################
*.o
*.a
*.so

# Logs #
########
*.log
build.txt

# Other Files #
###############
.vscode
Makefile.bak
CONFIG.bak
quick-replace.sh
Agents.md
obj.txt
incompat1.txt
incompat2.txt
srclst.txt
MigrationPatterns.md
